.body{
    background-color: darkgrey;
    text-align: center;
    
}
th{
    border: solid;
    color: black;
    background-color: darkgrey;
    height: 30px;
}
td{
    border: solid;
    color: black;
    /* text-align: center; */
}
table{
   padding-inline: 420px;
    
}
/* h2{
    
    padding-inline: 200px;
} */